<div class="container">
    <div class="image">
        <img src="assets/img/Group 235.png" alt="">
    </div>
    <div class="login">
        <div class="heading">
            <div class="rectangles">
                <div id="rectangle1"></div>
                <div id="rectangle2"></div>
            </div>
            <h1>Welcome</h1>
        </div>
        <div class="form">
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Email address">
                </mat-form-field>
            </form>
        </div>
    </div>
</div>