<div class="login-container">
    <div class="image">
        <img src="assets/img/Group 235.png" alt="">
    </div>
    <div class="login">
        <div class="heading">
            <div class="rectangles">
                <div id="rectangle1"></div>
                <div id="rectangle2"></div>
            </div>
            <h1>Welcome</h1>
        </div>
        <div class="form">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                <div class="flexCol">
                    <input type="email" placeholder="Email address" formControlName="Contact_Email">
                    <input type="password" placeholder="Password" formControlName="password">
                    <div id="thirdRow" class="flexRow">
                        <div id="rememberMe" class="flexRow">
                            <input type="checkbox" name="remember me">
                            Remember me
                        </div>
                        <span>Forgot Password ?</span>
                    </div>
                    <div class="logOut flexRow">
                        <button mat-raised-button type="submit">
                            Login
                            <img src="assets/icons/logout-button 1.svg" alt="">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>